body {
    font-family: 'Playfair Display','Libertinus Mono','Times New Roman', Times, serif;
    margin: 0;
    background-color: #f5f1e7;
    color: #4B3026;
}
 title {
    text-align: center;
    font-size: x-large;
 }

 nav {
    background-color: #4B3026;
    padding: 15px;
    text-align: center;         
 }

 nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 30px;
}

.Hero {
  background-image: url(hero-banner.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 120px 20px;
  color: white;
  height: 50vh;
  display: flex;               
  flex-direction: column;      
  justify-content: center;     
  align-items: center;         
  
}

.Hero h1 {
  font-size: 80px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.Hero p {
  font-size: 26px;
  margin-top: 20px;
  color: white;
  text-align: center;
}

.content {
  text-align: center;
  background-color:#f5f1e7;
  font-family: 'Playfair Display', 'Libertinus Mono' 'Times New Roman', Times, serif;
  font-size: 22px;
  padding: 50px;
}

nav {
  background-color: #4B3026;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
    flex-direction: column;
  }

  .navbar.active {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }
}
@media (max-width: 600px) {
  .Hero h1 {
    font-size: 30px;
  }
  .Hero p,
  .about-section p {
    font-size: 20px;
  }
}

.youtube {
  text-align: center;
  border-radius: 8px;
  min-height: 250px;
}

.youtube p {
  color: #4B3026;
  font-size: 20px;
}

footer {
  background-color: #4B3026;
  size: 35px;
  color: #f5f1e7;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
}

.gallery-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #f5f1e7;      
}

.gallery-container {
  text-align: center;
}

.gallery-item {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  vertical-align: top;
  background-color: #4B3026;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}